<IfModule mod_rewrite.c>
    SetEnv APPLICATION_ENV development

    Options -MultiViews
	RewriteBase /web
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /web/index.php [L]
</IfModule>