{% extends 'layout.html.twig' %}

{% block container_content %}

<div class="well-large pull-left" style="width: 640px">
<h2>Ao Vivo</h2>
<p>Próximo Hangout: 16/02/2013 às 11:00 (horário de Brasília)</p>
<p>Assuntos: Padrões de Projeto, Produtividade</p>
<p>Participantes: Abdala Cerqueira, Erika Heidi, Evaldo Junior e Ítalo Queiroz</p> 

 
<iframe width="640" height="480" src="http://www.youtube.com/embed/UwrT3k1HSOA" frameborder="0" allowfullscreen></iframe>
<!--
<iframe width="640" height="480" src="http://www.youtube.com/embed/F1nGJDRmjm4" frameborder="0" allowfullscreen></iframe>
-->

</div>

<div class="well-large pull-left" style="width: 350px;margin-left:20px">
<h2>Participe</h2>
<p>Envie perguntas e comentários usando a hashtag #phppb </p>
<a class="twitter-timeline" href="https://twitter.com/search?q=%23phppb" data-widget-id="262161551908278274">Tweets about "#phppb"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

<div class="clearfix"></div>

{% endblock %}